/* https://codepen.io/rizky_k_r/pen/wospJ*/

/* 1680px =< Big screens */
/* 992px =< Medium screens  < 1679px */
/* Small screens  < 992px */

/* Big screens */
@media all and (min-width : 1680px) {
  div.button_submission
  {
    font-size:0.8vw;
  }
  div.button_label
  {
    font-size:0.5vw;
  }
  div.collaborators_title
  {
    font-size:1.2vw;
  }
  div.collaborators_name
  {
    font-size:0.9vw;
  }
}

/* Medium screens */
@media all and (max-width: 1679px) {
  div.button_submission
  {
    font-size:1.1vw;
  }
  div.button_label
  {
    font-size:0.9vw;
  }
  div.collaborators_title
  {
    font-size:1.8vw;
  }
  div.collaborators_name
  {
    font-size:1.2vw;
  }
}

@media all and (min-width: 992px) {
  div.key
  {
    width: 40%;
    height: 37px;
    padding: 1px;
    margin-left:30%;
    margin-right:30%;
    float: left;
    text-align: center;
    color: lightgray;
  }
  .button_label
  {
    width:100%;
    padding: 5% 0%;
    float:left;
    font-size:0.9vw;
    visibility: visible;
  }
  div.key > span
  {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #a9a9a9;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    font-size: 12px;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    text-align: center;
    padding-top: 10px;
    color: #7c7c7c;
    -webkit-box-shadow: 0px 3px 0px -2px rgba(255,255,255,1), 0px 2px 0px 0px rgba(169,169,169,1);
    -moz-box-shadow: 0px 3px 0px -2px rgba(255,255,255,1), 0px 2px 0px 0px rgba(169,169,169,1);
    box-shadow: 0px 3px 0px -2px rgba(255,255,255,1), 0px 2px 0px 0px rgba(169,169,169,1);
    cursor: pointer;
    background-color: white;
  }
}

/* Small screens */
@media all and (max-width: 991px) {
  div.key
  {
    width: 60%;
    height: 4vw;
    padding: 1px;
    margin-left:20%;
    margin-right:20%;
    float:left;
    text-align: center;
    color: lightgray;
  }
  .button_label
  {
    width:100%;
    padding: 5% 0%;
    float:left;
    font-size:0.1vw;
    visibility: hidden;
  }
  div.key > span
  {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #a9a9a9;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    font-size: 1.5vw;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    text-align: center;
    padding-top: 0.7vw;
    color: #7c7c7c;
    -webkit-box-shadow: 0px 3px 0px -2px rgba(255,255,255,1), 0px 2px 0px 0px rgba(169,169,169,1);
    -moz-box-shadow: 0px 3px 0px -2px rgba(255,255,255,1), 0px 2px 0px 0px rgba(169,169,169,1);
    box-shadow: 0px 3px 0px -2px rgba(255,255,255,1), 0px 2px 0px 0px rgba(169,169,169,1);
    cursor: pointer;
    background-color: white;
  }
}

div.collaborators_name
{
  text-align:left;
}

div.collaborators_title
{
  text-align:left;
  margin-top:4%;
  margin-bottom:4%
}

div.button
{
  width: 35px;
  height: 37px;
  padding: 1px;
  margin: 10px;
  margin: 10px;
  float:left;
  text-align: center;
}



div.key > span:hover
{
  background-color: #75b4fb;
  border: 1px solid #5a88c5;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 3px 0px -2px rgba(117,180,251,1), 0px 2px 0px 0px rgba(90,136,197,1);
  -moz-box-shadow: 0px 3px 0px -2px rgba(117,180,251,1), 0px 2px 0px 0px rgba(90,136,197,1);
  box-shadow: 0px 3px 0px -2px rgba(117,180,251,1), 0px 2px 0px 0px rgba(90,136,197,1);
  cursor: pointer;
}

div.key > span:active
{
  margin-top: 2px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

div.key.special > span
{
  padding-top: 15px;
  font-size: 11px;
}

div.key.icon > span
{
  font-size: 14px;
}
center > h4 { color: #c5c5c5; margin-top: 50px; }
    body { margin: 0; font-family: Arial; background-color: #fff; }
    ul#keys-freebie { display: table; list-style: none; margin: 0 auto; padding: 0; }
    ul#keys-freebie > li { float: left; margin-right: 20px; margin-bottom: 20px; padding: 10px 10px; }
    ul#keys-freebie > li:last-child { margin-right: 0; }
    ul#keys-freebie > li > span { margin-bottom: 10px; }

.image_style{
  border:0.4vw solid white;
}

.selected{
  border:0.4vw solid #28a645;
}

/* svg {
  background: url('https://www.google.nl/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png') no-repeat;
} */
