{% extends "bootstrap/base.html" %}

{% block head %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135285115-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-135285115-1');
</script>
<script src="/static/scripts/jquery-3.3.1.min.js"></script>
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='styles/mainpage.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block title %}
{% if title %}{{title}}{% else %}Welcome to the GAN4VIS website project!{% endif %}
{% endblock %}

{% block metas %}
<!-- Twitter -->
{% if title == "GAN4VIS" %}
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="GAN4VIS" />
	<meta name="twitter:description" content="Style your visualizations thanks to deep learning" />
	<meta name="twitter:image" content="https://www.gan4vis.net/preview/{{dict_transfer.token}}.jpg" />
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='scripts/activate_navbar_elems.js')}}"></script>
{% block app_scripts %}{% endblock %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ url_for('index') }}">GAN4VIS</a>
		</div>

		<!--  Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a class="fa fa-github" target="_blank" href="https://github.com/AmigoCap/gan4vis" style="font-size:2vw; text-decoration: none; color: #505050"></a></li>
				<li><a href="{{ url_for('about') }}">About</a></li>
			</ul>
		</div>
	</div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
	<div class="alert alert-danger" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		{{ message }}
	</div>
	{% endfor %}
	{% endif %}
	{% endwith %}
</div>
<div class="container">
	{% block app_content %}{% endblock %}
</div>

{% endblock %}
