{% extends "base.html" %}

{% block app_content %}

<div id="dashboard" style="width=100%;height:auto">
  <div id="headlines"style="float:left; width:100%; height: auto;">
    <div id="number_applications" style="width:25%; float:left; font-size: 1.5vw;text-align: center;"></div>
    <div id="best_combinations" style="width:50%; float:left; font-size: 1.5vw;text-align: center;"></div>
    <div id="best_models" style="width:25%; float:left; font-size: 1.5vw;text-align: center;"></div>
  </div>
  <div id="line_chart_submission" style="float:left; width:60%; height: auto"></div>
  <div id="chart_combination" style="float:left; width:40%; height: auto"></div>
  <div id="bar_chart_model" style="float:left; width:33.33%; height: auto"></div>
  <div id="bar_chart_number_points" style="float:left; width:33.33%; height: auto"></div>
  <div id="bar_chart_ratio" style="float:left; width:33.33%; height: auto"></div>
</div>

<script src="{{url_for('static', filename="scripts/d3.js")}}"></script>
<script type="text/javascript">
  var dashboard_data = {{transfers|tojson}};
</script>
<script src="{{url_for('static', filename="scripts/dashboard.js")}}"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/dashboard_styles.css')}}">

{% endblock %}
