{% extends "base.html" %}

{% block app_scripts %}
	{{ super() }}
	<script src="{{url_for('static', filename='scripts/canvas_module.js')}}"></script>
{% endblock %}

{% block app_content %}
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>GAN4Vis Project Homepage</h1>
				<p>Hello, welcome to the GAN4Vis home page project! It is under construction but you can see some of the base features</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row" style="display: flex; justify-content: space-around; align-items: center; margin: 5px;">
			<div class="col" style="border: 1px solid grey; border-radius: 5px; justify-content: space-around;margin: 2px">
				<p>Sketching area:</p>
				<div id="canvasDivId" width="256" height="256"></div>
			</div>
			<div class="col" style="margin: 2px">
				<form action="{{ url_for('index') }}" method="post" id="submitForm">
					<button type="submit" class="btn btn-default" id="{{ form.submit_button.id }}">{{ form.submit_button.label }}</button>
					{{ form.canvas_data() }}
				</form>
			</div>
			<div class="col" style="border: 1px solid grey; border-radius: 5px; justify-content: space-around;margin: 2px;">
				<p>Result:</p>
				<div style="width: 256px; height: 256px;">
					{% if output_img %}
					<img src="{{ output_img }}" width="256" height="256" id="outputImageId"/>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}