{% extends "base.html" %}

{% block app_scripts %}
{{ super() }}
<!-- <script src="{{url_for('static', filename='scripts/canvas_module.js')}}"></script> -->
{% endblock %}

{% block app_content %}
<div id="title" class="container" style="width:100%">
	<div style="float: left; text-align:center;margin-bottom:2%; width: 100%">
		<h1 style="font-size:2.3vw;margin-top:1%">GAN4VIS</h1>
		<p style="font-size:1.5vw;">Create your chart and style it with a GAN!</p>
	</div>
</div>
<div id="charts" class="container" style="width:100%; display: flex;justify-content: space-between">
	<div id="preview" style="width:35%; float: left"></div>
	<div id="submission" style="width:10%; float:left;display: flex;align-items: center;justify-content: center;">
		<input id="apply_style_button" class="btn btn-danger btn-lg" type="submit" value="Apply Style" style="width:100%;height:15%;padding: 0% 0% ;font-size:1.1vw;">
	</div>
	<div id="result" style="width:35%; float:right">
		<img id="result_image" src="static/output_images/{{dict_transfer.token}}.jpg" style="width:100%;height:auto">
	</div>
</div>
<div id="selection" class="container" style="width:100%; margin-top:2%; display: flex;justify-content: space-between">
	<div id="interface_keys" style="width:35%; float: left; height:30%;">
		<table style="width:100%; table-layout: fixed">
			<tr>
				<td style="width: 33%">
					<div id="key_d" class="key" style="float:left;"><span>D</span></div>
					<div style="padding: 10% 0%; float:left;font-size:0.9vw;">Distribution</div>
				</td>
				<td style="width: 33%">
					<div id="key_add" class="key" style="float:left"><span>+</span></div>
					<div style="padding: 10% 0%; float:left;font-size:0.9vw;">Add data</div>
				</td>
				<td style="width: 33%">
					<div id="key_remove" class="key" style="float:left"><span>-</span></div>
					<div style="padding: 10% 0%; float:left;font-size:0.9vw;">Remove data</div>
				</td>
			</tr>
			<tr>
				<td style="width: 33%">
					<div id="key_randomize" class="key" style="float:left"><span>R</span></div>
					<div style="padding: 10% 0%; float:left;font-size:0.9vw;"> Randomize </div>
				</td>
				<td style="width: 33%">
					<div id="key_grid" class="key" style="float:left"><span>G</span></div>
					<div style="padding: 10% 0%; float:left;font-size:0.9vw;">Change grid</div>
				</td>
				<td style="width: 33%">
					<div id="key_orientation" class="key" style="float:left"><span>O</span></div>
					<p style="padding: 10% 0%; float:left;font-size:0.9vw;">Orientation</p>
				</td>
			</tr>
		</table>
	</div>
	<div id="save" style="width:10%; height:30%; float:left;display: flex;align-items: center;justify-content: center;">
	</div>
	<div id="interface_gans" style="width:35%; float: right; height:30%;">
		<table style="width:100%; table-layout: fixed">
			<tr>
				<td style="width: 50%; padding-bottom: 5px">
					<img src="static/style-images/mosaic.jpg" width="40%">
					<input type="radio" name="selection_model" value="mosaic.pth" style="width:15px" {% if dict_transfer.model=="mosaic.pth" %}checked="checked"{% endif %}>
				</td>
				<td style="width: 50%; padding-bottom: 5px">
					<img src="static/style-images/map.jpg" width="40%">
					<input type="radio" name="selection_model" value="map.pth" style="width:15px" {% if dict_transfer.model=="map.pth" %}checked="checked"{% endif %}>
				</td>
			</tr>
			<tr>
				<td style="width: 50%">
					<img src="static/style-images/pollock.jpg" width="40%">
					<input type="radio" name="selection_model" value="pollock.pth" style="width:15px" {% if dict_transfer.model=="pollock.pth" %}checked="checked"{% endif %}>
				</td>
				<td style="width: 50%">
					<img src="static/style-images/udnie.jpg" width="40%">
					<input type="radio" name="selection_model" value="udnie.pth" style="width:15px" {% if dict_transfer.model=="udnie.pth" %}checked="checked"{% endif %}>
				</td>
			</tr>
		</table>
	</div>
</div>
<script type="text/javascript">
	var transfer = {{dict_transfer|tojson}};
</script>
<script src="{{url_for('static', filename="scripts/d3.js")}}"></script>
<script src="{{url_for('static', filename="scripts/d3-gridding.js")}}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/keys.css')}}">
<script src="{{url_for('static', filename="scripts/processing_index.js")}}"></script>

{% endblock %}
