{% extends "base.html" %}

{% block app_scripts %}
{{ super() }}
{% endblock %}

{% block app_content %}

<div id="title" class="container" style="width:100%; margin-bottom:3%">
	<div style="float: left; text-align:center; width: 100%">
		<h1 style="font-size:2.3vw;margin-top:1%">GAN4VIS</h1>
		<p style="font-size:1.5vw;">Create your chart and style it with deep learning!</p>
	</div>
</div>
<div id="charts" class="container" style="width:100%;margin-bottom:3%; display: flex;justify-content: space-between">
	<div id="preview" style="width:35%; float: left"></div>
	<div id="submission" style="width:10%; float:left;display: flex;align-items: center;justify-content: center;">
		<input id="apply_style_button" class="btn btn-danger btn-lg" type="submit" value="Apply Style" style="width:100%;height:15%;padding: 0% 0% ;font-size:1.1vw;">
	</div>
	<div id="result" style="width:35%; float:right">
		<img id="result_image" src="static/output_images/{{dict_transfer.token}}.jpg" style="width:100%;height:auto">
	</div>
</div>
<div id="selection" class="container" style="width:100%; margin-top:2%;margin-bottom:3%; display: flex;justify-content: space-between">
	<div id="interface_keys" style="width:35%; float: left; height:30%;">
		<table style="width:100%; table-layout: fixed">
			<tr>
				<td style="width: 33%">
					<div id="key_d" class="key" style="float:left;"><span>D</span></div>
					<div style="padding: 10% 0%; float:left;font-size:0.9vw;">Distribution</div>
				</td>
				<td style="width: 33%">
					<div id="key_add" class="key" style="float:left"><span>+</span></div>
					<div style="padding: 10% 0%; float:left;font-size:0.9vw;">Add data</div>
				</td>
				<td style="width: 33%">
					<div id="key_remove" class="key" style="float:left"><span>-</span></div>
					<div style="padding: 10% 0%; float:left;font-size:0.9vw;">Remove data</div>
				</td>
			</tr>
			<tr>
				<td style="width: 33%">
					<div id="key_randomize" class="key" style="float:left"><span>R</span></div>
					<div style="padding: 10% 0%; float:left;font-size:0.9vw;"> Randomize </div>
				</td>
				<td style="width: 33%">
					<div id="key_grid" class="key" style="float:left"><span>G</span></div>
					<div style="padding: 10% 0%; float:left;font-size:0.9vw;">Change grid</div>
				</td>
				<td style="width: 33%">
					<div id="key_orientation" class="key" style="float:left"><span>O</span></div>
					<p style="padding: 10% 0%; float:left;font-size:0.9vw;">Orientation</p>
				</td>
			</tr>
		</table>
	</div>
	<div id="save" style="width:10%; height:30%; float:left;display: flex;align-items: center;justify-content: center;">
	</div>
	<div id="interface_gans" style="width:35%; float: right; height:30%;">
		<table style="width:100%; table-layout: fixed">
			<tr>
				<td style="width: 50%; padding-bottom: 5px">
					<img src="static/utilitaries_images/mosaic.jpg" width="40%">
					<input type="radio" name="selection_model" value="mosaic.pth" style="width:15px" {% if dict_transfer.model=="mosaic.pth" %}checked="checked"{% endif %}>
				</td>
				<td style="width: 50%; padding-bottom: 5px">
					<img src="static/utilitaries_images/map.jpg" width="40%">
					<input type="radio" name="selection_model" value="map.pth" style="width:15px" {% if dict_transfer.model=="map.pth" %}checked="checked"{% endif %}>
				</td>
			</tr>
			<tr>
				<td style="width: 50%">
					<img src="static/utilitaries_images/pollock.jpg" width="40%">
					<input type="radio" name="selection_model" value="pollock.pth" style="width:15px" {% if dict_transfer.model=="pollock.pth" %}checked="checked"{% endif %}>
				</td>
				<td style="width: 50%">
					<img src="static/utilitaries_images/udnie.jpg" width="40%">
					<input type="radio" name="selection_model" value="udnie.pth" style="width:15px" {% if dict_transfer.model=="udnie.pth" %}checked="checked"{% endif %}>
				</td>
			</tr>
		</table>
	</div>
</div>
<div id="background" class="container" style="width:100%; margin-top:2%;margin-bottom:2%">
	<div id="team" style="float: left; width: 100%">
		<table style="width:100%; table-layout: fixed">
			<tr>
				<td style="width:14%">
					<h5 style="font-size:1.8vw; text-align:left">Team</h5>
				</td>
				<td style="width:5%">
					<a class="fa fa-linkedin" target="_blank" href="https://www.linkedin.com/in/charles-dupuy-2a90b513b/" style="font-size:2vw; text-decoration: none; color:#24292e"></a>
				</td>
				<td style="width:16.5%">
					<h5 style="font-size:1.2vw; text-align:left">Charles Dupuy</h5>
				</td>
				<td style="width:5%">
					<a class="fa fa-github" target="_blank" href="https://github.com/guillaume-lesaine" style="font-size:2vw; text-decoration: none; color:#24292e"></a>
				</td>
				<td style="width:16.5%">
					<h5 style="font-size:1.2vw; text-align:left">Guillaume Lesaine</h5>
				</td>
				<td style="width:5%">
					<a class="fa fa-github" target="_blank" href="https://github.com/clevecque" style="font-size:2vw; text-decoration: none; color:#24292e"></a>
				</td>
				<td style="width:16.5%">
					<h5 style="font-size:1.2vw; text-align:left">Clémence Lévêcque</h5>
				</td>
				<td style="width:5%">
					<a class="fa fa-linkedin" target="_blank" href="https://www.linkedin.com/in/william-pierre-93458a11b/" style="font-size:2vw; text-decoration: none; color:#24292e"></a>
				</td>
				<td style="width:16.5%">
					<h5 style="font-size:1.2vw; text-align:left">William Pierré</h5>
				</td>
			</tr>
			<tr>
				<td style="width:14%">
					<h5 style="font-size:1.8vw; text-align:left">Supervisors</h5>
				</td>
				<td style="width:5%">
					<a class="fa fa-github" target="_blank" href="https://github.com/Theo-Jaunet" style="font-size:2vw; text-decoration: none; color:#24292e"></a>
				</td>
				<td style="width:16.5%">
					<h5 style="font-size:1.2vw;text-align:left">Théo Jaunet</h5>
				</td>
				<td style="width:5%">
					<a class="fa fa-desktop" target="_blank" href="http://romain.vuillemot.net/" style="font-size:2vw; text-decoration: none; color:#24292e"></a>
				</td>
				<td style="width:16.5%">
					<h5 style="font-size:1.2vw;text-align:left">Romain Vuillemot</h5>
				</td>
			</tr>
		</table>
	</div>
	<div id="institutions" style="float: left; margin-bottom:2%; margin-top:2%; width: 100%">
		<a href="https://liris.cnrs.fr/en" target="_blank"><img src="static/utilitaries_images/liris_logo.jpg" style="width:18%;margin-left:7.5%;margin-right:7.5%"></a>
		<a href="https://www.ec-lyon.fr/en" target="_blank"><img src="static/utilitaries_images/centrale_lyon.jpg" style="width:30%;margin-left:1.5%;margin-right:1.5%"></a>
		<a href="https://www.universite-lyon.fr/version-anglaise/" target="_blank"><img src="static/utilitaries_images/universite_logo.jpg" style="width:16%;margin-left:8%;margin-right:8%"></a>
	</div>
</div>
<script type="text/javascript">
	var transfer = {{dict_transfer|tojson}};
</script>
<script src="{{url_for('static', filename="scripts/d3.js")}}"></script>
<script src="{{url_for('static', filename="scripts/d3-gridding.js")}}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/keys.css')}}">
<script src="{{url_for('static', filename="scripts/processing_index.js")}}"></script>

{% endblock %}
