{% extends "base.html" %}

{% block app_content %}
	<table>
		<tr valing="top">
			<td><img src="{{ user.avatar(128) }}"></td>
			<td><h1>User : {{ user.username }}</h1></td>
		</tr>
	</table>
	<hr />
	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Sketch</th>
					<th scope="col">Prediction</th>
				</tr>
			</thead>
			<tbody>
				{% for task in tasks %}
				<tr>
					<td><img src="{{ url_for('static', filename=task.input_sketch) }}"></td>
					<td><img src="{{ url_for('static', filename=task.output_pred) }}"></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}